<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top w-25" src="./assets/image/QUIZ-3D.png" alt="Title">
                        <p class="card-text">Website thi và tạo đề thi trắc nghiệm online.
                            Mang đến người dùng các chức năng tốt nhất cho việc học tập và giảng dậy.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liên hệ</h4>
                        <p class="card-text">Email: <a href="mailto: LinhptPC04737@fpt.edu.vn" class="outer-link">
                                LinhptPC04737@fpt.edu.vn</a></p>
                        <p class="card-text">Phone:<a href="tel:0907754233" class="outer-link">
                                0907&nbsp;754&nbsp;233</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Theo dõi chúng tôi</h4>
                        <p class="card-text">Hệ thống thi và tạo đề thi trắc nghiệm online</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content d-flex pb-4 mt-3">
            <p class="m-auto text-dark fs-6 fw-bold">FPT Polytechnic &copy; 2023 By LinhptPC04737
            </p>
        </div>
    </div>
</footer>