<div class="container-fluid">
    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="clock fs-1 text-center"><i class="bi bi-alarm"></i>
                {{show}}
            </div>
            <form #questions="ngForm" (ngSubmit)="submitQuestion(questions)">
                <div class="card mb-3 px-0" *ngFor="let question of randomListQuestion(); let i =index;">
                    <div class="card-header question-color bg-opacity-50">
                        <div class="float-start">Câu {{i +1}}: {{question.Text}}</div>
                        <div class="float-end">Question {{i +1}} of 10</div>
                    </div>
                    <ul class="list-group list-group-flush px-3">
                        <div class="form-check form-check-inline answer-line" *ngFor='let answer of question.Answers'>
                            <input class="form-check-input" type="radio" name="{{question.Id}}"
                                id="{{idSubject}}-q{{i+1}}{{answer.Id}}" value="{{answer.Id}}" ngModel>
                            <label class="form-check-label"
                                for="{{idSubject}}-q{{i+1}}{{answer.Id}}">{{answer.Text}}</label>
                        </div>
                    </ul>
                    <div class="card-footer" *ngIf="isSubmit">
                        <p class="text-success mb-0 fw-bold" *ngIf="question.correct"> Đúng<i
                                class="bi bi-check-lg"></i></p>
                        <p class="text-danger mb-0 fw-bold" *ngIf="!question.correct">Sai <i class="bi bi-x-lg"></i></p>
                    </div>
                </div>
                <div class="question-footer">
                    <button type="submit" class="btn btn-info float-start question-submit px-5 fs-4">Nộp bài</button>
                    <label *ngIf="isSubmit" class="text-success record mx-3 mt-2 fs-4 fw-bolder align-self-center">Điểm
                        {{marks}}/10</label>
                </div>
            </form>
        </div>
    </div>
</div>