.list-group-item {
  position: relative;
}
.list-group-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 1px solid gray;
  width: 318px;
  padding-top: 4px;
}
.card-img-top {
  transition: all 0.3s;
  cursor: pointer;
}
.card-img-top:hover {
  transform: scale(1.05);
}
.controll-slide {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
