<div class="container pt-4">
    <div class="header-bottom d-flex flex-column align-items-center text-center pt-4">
        <h2 class="title text-primary">Các chức năng trên Quiz !</h2>
        <p class="content-text">Các bước để tạo và quản lý lớp học, bài giảng <br />quản lý đề thi trắc nghiệm chuyên
            nghiệp.</p>

        <div class="text-center w-100  row justify-content-between mt-3">
            <div class="card align-items-center border-0 col-xl-3 col-lg-6">
                <img class="card-img-top" src="./assets/image/book.gif" width="50px" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Ngân hàng câu hỏi</h4>
                    <p class="card-text">Dễ dàng tạo và quản lý ngân hàng câu hỏi theo từng chủ đề.
                        Hỗ trợ nhập hàng
                        loạt câu hỏi qua nhiều định dạng file excel, word... tạo ma trận đề thi từ ngân hàng câu hỏi. Hệ
                        thống cung cấp > 200.000 câu hỏi theo từng cấp học cho bạn tham khảo.</p>
                </div>
            </div>


            <div class="card align-items-center border-0 col-xl-3 col-lg-6">
                <img class="card-img-top" src="./assets/image/books.gif" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Bài giảng, Tài liệu</h4>
                    <p class="card-text">Tạo và quản lý bài giảng, hỗ trợ nhiều định dạng khác nhau video, doc,
                        excel..., đính kèm đề thi trắc nghiệm theo mỗi bài giảng. Tạo và xắp sếp bài giảng theo cấu trúc
                        cây trương trình.</p>
                </div>
            </div>


            <div class="card align-items-center border-0 col-xl-3 col-lg-6">
                <img class="card-img-top" src="./assets/image/exam.gif" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Đề thi trắc nghiệm</h4>
                    <p class="card-text">Tạo và xuất bản đề thi dễ dàng từ ngân hàng câu hỏi của bạn. Hỗ trợ nhiều loại
                        đề thi từ file tài liệu có sẵn, tạo đề thi theo ma trận tự ngân hàng câu hỏi, tạo đề thi theo
                        thời gian, in đề thi ra giấy để thi offline</p>
                </div>
            </div>


            <div class="card align-items-center border-0 col-xl-3 col-lg-6">
                <img class="card-img-top" src="./assets/image/school.gif" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Lớp học</h4>
                    <p class="card-text">Tạo và quản lý nhóm, lớp học thuận tiện. Dễ dàng giao các bài giảng, đề thi
                        trắc nghiệm đã tạo cho từng nhớm, lớp học. Thống kê phân tích điểm, kết quả học tập của từng học
                        sinh trong lớp.</p>
                </div>
            </div>
        </div>
    </div>
</div>