<section class="signUpBody mb-0 text-primary">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="text-black" style="border-radius: 25px;">
                    <div class=" p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 mb-5 mx-1 mx-md-4 mt-4 fw-bolder" style="color: #4267b2;">Đăng
                                    ký
                                    thành viên</p>

                                <form autocomplete="off" class="mx-1 mx-md-4" [formGroup]="register"
                                    (ngSubmit)="registerSubmit(register)">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label text-primary fw-bold" for="username">Tài
                                                khoản</label>
                                            <input formControlName="username" [(ngModel)]="username" type="text"
                                                name="username" id="username" placeholder="Nhấn vào để nhập tài khoản"
                                                class="form-control form-control-lg text-dark bg-light" />
                                            <div class="text-danger"
                                                *ngIf="register.get('username')?.invalid && register.get('username')?.touched">
                                                <p class="m-0">Tài khoản không được để trống!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label text-primary fw-bold" for="fullname">Họ và
                                                tên</label>
                                            <input formControlName="fullname" [(ngModel)]="fullname" type="text"
                                                name="fullname" id="fullname" placeholder="Nhấn vào để nhập tài khoản"
                                                class="form-control form-control-lg text-dark bg-light" />
                                            <div class="text-danger"
                                                *ngIf="register.get('fullname')?.invalid && register.get('fullname')?.touched">
                                                <p class="m-0">Họ và tên không được để trống!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label text-primary fw-bold" for="email">Email</label>
                                            <input formControlName="email" [(ngModel)]="email" type="email" id="email"
                                                name="email" placeholder="Nhấn vào để nhập email"
                                                class="form-control form-control-lg text-dark bg-light" />
                                            <div class="text-danger"
                                                *ngIf="register.get('email')?.invalid && register.get('email')?.touched">
                                                <p class="m-0">Email không được để trống!</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label text-primary fw-bold" for="password">Mật
                                                khẩu</label>
                                            <input formControlName="password" [(ngModel)]="password" type="password"
                                                name="password" placeholder="Nhấn vào để nhập mật khẩu"
                                                class="form-control form-control-lg text-dark bg-light" />
                                            <div class="text-danger"
                                                *ngIf="register.get('password')?.invalid && register.get('password')?.touched">
                                                <p class="m-0">Mật khẩu không được để trống!</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label text-primary fw-bold" for="confirmPassword">Nhập
                                                lại mật
                                                khẩu</label>
                                            <input type="password" name="confirmPassword" id="confirmPassword"
                                                placeholder="Nhấn vào để nhập lại mật khẩu"
                                                class="form-control form-control-lg text-dark bg-light"
                                                appMatch="password" />

                                            <div
                                                *ngIf="register.get('confirmPassword')?.hasError('match') && register.get('confirmPassword')?.touched">
                                                <p class="m-0">Mật khẩu không khớp!</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5 form-check_remember">
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                            id="form2Example3c" />
                                        <label class="form-check-label" for="form2Example3">
                                            Tôi đồng ý với tất cả các<a href="#!"> chính sách và điều khoản dịch vụ</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg"
                                            [disabled]="!username || !fullname|| !email|| !password">Đăng ký</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://cdni.iconscout.com/illustration/premium/thumb/user-account-sign-up-4489360-3723267.png"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>